.contenedor {
    width: 700px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}


.izquierda {
    float: left;
    margin-top:120px;
}

.derecha {
    float:right;
    margin-top:120px;
}

.centro {
    position: absolute;
    margin: 0 auto;
    width: 470px;
    border: 1px solid red;
    height: 300px;
    left:110px;
    
}

#current {
    display:block;
  
}
.centro img {
    position: relative;
    margin-left: 100px;
}